@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #777777;
    overflow: overlay;
    overflow-x: hidden;
    background: linear-gradient(69deg, #97ffe4, #ffaa97, #ac97ff, #97ffe4);
    background-size: 500% 500%;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 0.3s linear;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    letter-spacing: 1.6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    font-weight: 700;
    margin-bottom: 120px;
    text-align: center;
    color: #fff;
}

h3, .list-title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

p {
    white-space: pre-line;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    max-width: 1120px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.content {
    display: flex;
}

/* header */

.header-wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-wrap.on,
a.top.on {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(150%) blur(30px);
    box-shadow: 0px 3px 10px 0px rgb(153 153 153 / 10%);
    transition: transform 500ms ease, background 500ms ease, height 500ms ease;
}

.header-wrap.on {
    top: -70px;
    transform: translateY(70px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-wrap.on .nav-link:hover {
    color: #777;
}

.header-wrap.on .nav-logotext {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(69deg, #97ffe4, #ffaa97, #ac97ff, #97ffe4);
    background-size: 800% 800%;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.navbar .container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

a.top.on {
    position: fixed;
    right: 15px;
    bottom: -40px;
    width: 2.5rem;
    height: 2.5rem;
    font-family: 'Material Symbols Rounded';
    font-size: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #777;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transform: translateY(-50px);
    transition: transform 500ms ease, background 500ms ease;
}

.top.on::after {
    content: "\e316";
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

.nav-logo .nav-logotext {
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.nav-menu .nav-item+.nav-item {
    margin-left: 45px;
}

.nav-menu .nav-item .nav-link {
    color: #fff;
    line-height: 120px;
    display: block;
    width: 100%;
    transition: font-weight 0.1s linear;
}

.header-wrap.on .nav-link {
    line-height: 70px;
    color: #777;
}

.nav-menu .nav-item .nav-link:hover:not(.actvie),
.nav-menu .nav-item .nav-link.active {
    text-shadow: .25px 0px .1px,
        -.25px 0px .1px;
}

/* sections */

section {
    height: 100vh;
}

section+section {
    padding: 180px 0;
}

section#projects {
    background-color: #fff;
}

section#skills, section#works {
    background-color: #f1f1f1;
}

section#projects, section#works {
    height: 100%;
}

section#projects h2, section#skills h2, section#works h2 {
    color: #777777;
}

section#contact {
    padding-bottom: 225px;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(150%) blur(20px);
    box-shadow: 0px 20px 20px 0px rgb(153 153 153 / 10%);
}

/* home */

#home {
    padding-top: 120px;
    position: relative;
}

#home .container {
    position: relative;
    transition: all 0.3s ease;
}

#home .inner {
    width: 100%;
}

#home .content {
    align-items: flex-end;
    padding-top: 50px;
}

#home .content-left::after {
    content: "";
    display: flex;
    position: absolute;
    left: 60px;
    top: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    transition: all 0.3s ease;
}

#home .content-left img {
    width: max-content;
    transition: all 0.3s ease;
}

#home .home-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -7px;
    bottom: -2px;
}

#home h1, #home h2 {
    position: relative;
    color: #fff;
    width: fit-content;
    align-self: flex-end;
}

#home h1 {
    font-size: 6rem;
    letter-spacing: 0.96rem;
    line-height: 5.4rem;
    font-weight: 900;
}

#home h2 {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    letter-spacing: 1.2rem;
    margin-bottom: 0;
}

/* about */

#about {
    padding: 220px 0 130px;
    position: relative;
}

#about::after {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

#about .content {
    justify-content: space-between;
}

#about .container {
    padding-left: 100px;
    padding-right: 100px;
}

#about .content ul,
#projects .content {
    padding: 25px;
    z-index: 1;
}

#about .content ul+ul {
    margin-left: 30px;
}

#about .content .list-title {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

#about .content li+li {
    margin-top: 8px;
}

#about .content li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #777777;
}

#about .education li,
#about .license li {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#about .content li::before {
    font-family: 'Material Symbols Rounded';
    font-size: 16px;
    margin-right: 5px;
}

.birth::before {
    content: '\ebcc';
}

.call::before {
    content: '\e0b0';
}

.email::before {
    content: '\e158';
}

.location::before {
    content: '\e88a';
}

#about .content .date {
    font-weight: 500;
}

/* skills */

#skills .chart-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .skill-chart {
    position: relative;
    margin: 10px 30px;
    color: #777777;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skills .skill-chart h3 {
    position: absolute;
    white-space: pre-line;
    font-size: 0.8rem;
    padding-left: 12px;
}

#skills svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.skill-chart.html .circle_animation {
    -webkit-animation: html 1s ease-out forwards;
    animation: html 1s ease-out forwards;
}

.skill-chart.css .circle_animation {
    -webkit-animation: css 1s ease-out forwards;
    animation: css 1s ease-out forwards;
}

.skill-chart.illustrator .circle_animation {
    -webkit-animation: illust 1s ease-out forwards;
    animation: illust 1s ease-out forwards;
}


.skill-chart.jquery .circle_animation,
.skill-chart.photoshop .circle_animation {
    -webkit-animation: jqueryptshop 1s ease-out forwards;
    animation: jqueryptshop 1s ease-out forwards;
}

.skill-chart.javascript .circle_animation,
.skill-chart.react .circle_animation {
    -webkit-animation: jsreact 1s ease-out forwards;
    animation: jsreact 1s ease-out forwards;
}

/* projects */

#projects .cards {
    display: flex;
    flex-direction: column;
}

#projects .cards>li {
    display: flex;
    width: 100%;
    padding: 30px;
    border: 1px solid #eeeeee;
}

#projects .cards>li+li {
    margin-top: 40px;
}

#projects .content-left {
    display: flex;
    flex-direction: column;
}

#projects .content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}

#projects li {
    text-transform: uppercase;
}

#projects .content-left .url-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#projects .content-left .url-list a {
    font-weight: 500;
    border: 1px solid #eeeeee;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: background 0.2s linear;
    cursor: pointer;
}

#projects .content-left .url-list a:hover {
    background-color: rgb(153 153 153 / 10%);
}

#projects .content-left .url-list a+a {
    margin-left: 20px;
}

#projects .proj-thumb {
    max-width: 600px;
    border: 1px solid #eee;
}

#projects h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#projects h4 {
    margin: 20px 0;
}

#projects .skill-list, #projects .color-list {
    display: flex;
    flex-wrap: wrap;
}

#projects .skill-desc, #projects .color-list .color {
    border: 1px solid #eee;
    border-radius: 5px;
}

#projects .list-title {
    font-size: 1.2rem;
}

#projects .skill-desc+.skill-desc,
#projects .color-list .color+.color {
    margin-left: 5px;
}

#projects .skill-desc {
    margin-bottom: 5px;
    padding: 5px;
}

#projects .color-list {
    flex-wrap: nowrap;
}

#projects .color-list .color {
    width: 100px;
    height: 20px;

}

#projects .color-list .color.orange {
    background-color: #ffaf74;
}

#projects .color-list .color.red {
    background-color: #ff6f73;
}

#projects .color-list .color.rose {
    background-color: #a03c3c;
}

#projects .color-list .color.mint {
    background-color: #97ffe4;
}

#projects .color-list .color.violet {
    background-color: #ac97ff;
}

#projects .color-list .color.salmon {
    background-color: #ffaa97;
}

#projects .color-list .color.kellogg {
    background-color: #ba0c2f;
}

#projects .color-list .color.kellogg_black {
    background-color: #2B2B2B;
}

#projects .color-list .color.white {
    background-color: #fff;
}

/* works */

#works .gallary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#works .gallary .gallary-item {
    margin: 20px;
}

#works .gallary .gallary-item {
    position: relative;
    width: 340px;
    height: 340px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px rgb(153 153 153 / 30%);
    transition: all .2s linear;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: content-box;
}

#works .gallary .gallary-item::before {
    content: "\e8ff";
    font-family: 'Material Symbols Rounded';
    font-size: 5rem;
    text-align: center;
    line-height: 300px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 7px;
    padding-top: 10px;
    backdrop-filter: saturate(150%) blur(20px);
    background-color: rgba(238, 238, 238, 0.4);
    text-shadow: 0 1px 15px rgb(153 153 153 / 30%);
    opacity: 0;
    transition: all 0.1s linear;
}

#works .gallary .gallary-item:hover::before,
#works .gallary .gallary-item:hover::after {
    opacity: 1;
}

#works .gallary .gallary-item:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
    box-shadow: 0px 10px 10px 0px rgb(153 153 153 / 10%);
}

#works .gallary .gallary-thumb {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#works .gallary .caption {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 35%;
    width: 100%;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px rgb(153 153 153 / 70%);
    opacity: 0;
    transition: opacity 0.3s linear;
}

#works .gallary .gallary-item:hover .caption {
    opacity: 1;
}

#works .modal {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
}

#works .close {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
    text-shadow: 0 0 10px rgb(153 153 153 / 70%);
}

#works .close.on {
    display: block;
}

#works .modal .gallary-img {
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 100%;
}

#works .modal .gallary-img.zoom {
    max-width: 100%;
    max-height: fit-content;
    height: auto;
}

#works .modal .gallary-img:hover {
    cursor: zoom-in;
}

#works .modal .gallary-img.zoom:hover {
    cursor: zoom-out;
}

/* contact */

section#contact {
    color: #fff;
}

#contact .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#contact .card {
    padding: 50px;
    border-radius: 20px;
}

#contact .card li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    cursor: default;
    transition: all 0.3s ease;
}

#contact .card li::before {
    font-family: 'Material Symbols Rounded';
    font-size: 28px;
    padding-right: 10px;
    padding-left: 10px;
}

#contact .github::before {
    content: url("../img/GitHub-Mark-32px.png");
    filter: brightness(0) invert(1);
    padding-left: 7px;
    padding-right: 17px;
    transform: scale(0.8);
    transition: filter 0.25s linear;
}

#contact .github:hover::before {
    filter: brightness(5);
}

#contact .github a:hover {
    color: #777;

}

/* footer */

footer {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    margin-top: -60px;
    z-index: 2;
}

footer .copyright {
    text-align: center;
    color: #fff;
}

/* ------------------ media query ----------------- */

/* tablet */

@media (max-width: 1199px) {

    .container {
        max-width: 960px;
    }

    #home .content-left img {
        width: 500px;
    }

    #home .home-text {
        bottom: 0;
    }

    #home h1 {
        font-size: 4.59rem;
        line-height: 4rem;
        white-space: nowrap;
    }

    #home h2 {
        letter-spacing: 0.65rem;
        right: 10px;
    }

    /* about */

    #about .education {
        margin: 0px 15px;
    }

    /* projcets */

    #projects .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    #projects .cards>li {
        padding: 50px;
    }

    #projects .content-left {
        padding-right: 50px;
        align-self: center;
    }

    #projects .content-right {
        padding-left: 0;
        align-self: flex-start;
    }

    #projects .proj-thumb {
        width: 420px;
    }

    #projects .content-left .url-list {
        margin-top: 30px;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .navbar {
        justify-content: space-between;
    }

    #home .content {
        flex-direction: column;
        align-items: flex-start;
    }

    #home .content-left img {
        width: 450px;
    }

    #home .content-right {
        align-self: normal;
    }

    #home .home-text {
        position: relative;
        top: -27px;
        right: -20px;
    }

    #home h1 {
        letter-spacing: 0.86rem;
        line-height: 4rem;
    }

    #home h2 {
        right: -3px;
        letter-spacing: 1.34rem;
        line-height: 3.6rem;
    }

    #about .container {
        padding: 0;
    }

    #skills .skill-chart {
        margin: 5px;
    }

    #projects .container {
        padding-left: 0;
        padding-right: 0;
    }

    #projects .cards>li {
        flex-direction: column;
        justify-content: space-around;
    }

    #projects .content-left {
        padding-right: 0;
    }

    #projects h3 {
        padding-top: 30px;
    }

    #projects .proj-thumb {
        width: 100%;
    }

    #works .gallary .gallary-item {
        width: 300px;
        height: 300px;
    }

    #works .gallary .gallary-item {
        margin: 15px;
    }

    #works .gallary .gallary-item::before {
        padding-top: 0;
    }

    #works .gallary .caption {
        bottom: 30%;
    }

    #works .modal {
        justify-content: flex-start;
    }

    #works .modal .gallary-img {
        max-width: 100%;
        max-height: none;
    }

    #works .modal .gallary-img.zoom {
        width: auto;
        max-width: none;
        max-height: fit-content;
        height: auto;
    }

}

/* mobile */

@media (max-width: 770px) {

    .container {
        max-width: 560px;
    }

    section#about, section#skills, section#works {
        padding: 120px 0;
    }

    /* mobile navbar */

    .header-wrap {
        height: 72px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: saturate(150%) blur(30px);
        box-shadow: 0px 3px 10px 0px rgb(153 153 153 / 10%);
        transition: 0.3s ease;
    }

    .header-wrap.active {
        height: 300px;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 72px;
        width: 100%;
        position: fixed;
    }

    .nav-menu.show .nav-item+.nav-item {
        margin-left: 0;
    }

    .nav-menu.show {
        animation: visible 2s ease;
    }

    @keyframes visible {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .navbar .toggle-bar {
        cursor: pointer;
    }

    .navbar .nav-logo {
        line-height: 70px;
    }

    .navbar .toggle-bar::after {
        content: "\e5d2";
        font-family: 'Material Symbols Rounded';
        font-size: 32px;
        color: #fff;
    }

    .header-wrap.on .toggle-bar::after {
        color: #777;
    }

    .nav-menu .nav-item .nav-link {
        line-height: 40px;
        font-weight: 500;
    }

    /* --------------- */

    #home {
        margin-bottom: 0;
        padding-bottom: 140px;
    }

    #home .content-left img {
        width: 470px;
    }

    #home .home-text {
        top: 7px;
        right: 0;
    }

    #home h1 {
        letter-spacing: 0.17rem;
        line-height: 4rem;
    }

    #home h2 {
        letter-spacing: 0.65rem;
    }

    #about .container, #projects .container {
        padding: 0 15px;
    }

    #about {
        height: 100%;
    }

    #about::after {
        height: 67%;
    }

    #about .content {
        flex-direction: column;
        font-size: 1rem;
    }

    #about .content ul+ul {
        margin-left: 0;
    }

    #about .education {
        margin: 20px 0;
    }

    #projects .content-right {
        width: 100%;
    }

    #works .gallary {
        flex-direction: column;
        justify-content: flex-start;
    }

    #works .gallary .gallary-item+.gallary-item {
        margin: 0;
        margin-top: 50px;
    }

    #works .gallary .gallary-item {
        width: 348px;
        height: 348px;
    }

    #works .gallary .gallary-item::before {
        font-size: 5rem;
        line-height: 350px;
    }

    #works .gallary .gallary-item:first-child .caption {
        bottom: 28%;
    }

    #contact .card {
        padding: 30px;
    }

}

/* mobile(xs) */
@media (max-width: 576px) {

    #home .container {
        height: 100%;
    }

    #home .inner {
        display: flex;
        justify-content: center;
    }

    #home .content {
        width: 100%;
    }

    #home .content-left::after {
        left: 0;
        top: 0;
    }

    #home .content-left img {
        width: 100%;
    }

    #home .home-text {
        top: 0;
    }

    #home h1, #home h2 {
        position: absolute;
        backdrop-filter: blur(20px) saturate(200%);
        background-color: rgba(255, 255, 255, 0.3);
    }

    #home h1 {
        left: 0;
        font-size: 9vw;
        line-height: 15vw;
        padding: 0 5px 0 10px;
    }

    #home h2 {
        font-size: 6vw;
        line-height: 10vw;
        letter-spacing: 2vw;
        right: 0;
        bottom: 0;
        padding: 0 5px 0 15px;
    }

    #skills {
        height: 100%;
    }

    #works .gallary .gallary-item {
        max-width: 250px;
        max-height: 250px;
    }

    #contact .card {
        padding: 20px;
        width: 100%;
        max-width: 370px;
        min-height: 206px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #contact .card li {
        overflow-wrap: anywhere;
        line-height: 2rem;
    }

}

/* keyframes */

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes html {
    to {
        /* 80 */
        stroke-dashoffset: 44;
    }
}

@-webkit-keyframes html {
    to {
        /* 80 */
        stroke-dashoffset: 44;
    }
}

@keyframes css {
    to {
        /* 80 */
        stroke-dashoffset: 88;
    }
}

@-webkit-keyframes css {
    to {
        /* 80 */
        stroke-dashoffset: 88;
    }
}

@keyframes illust {
    to {
        /* 75 */
        stroke-dashoffset: 110;
    }
}

@-webkit-keyframes illust {
    to {
        /* 75 */
        stroke-dashoffset: 110;
    }
}

@keyframes jqueryptshop {
    to {
        /* 70 */
        stroke-dashoffset: 132;
    }
}

@-webkit-keyframes jqueryptshop {
    to {
        /* 70 */
        stroke-dashoffset: 132;
    }
}

@keyframes jsreact {
    to {
        stroke-dashoffset: 176;
        /* 60 */
    }
}

@-webkit-keyframes jsreact {
    to {
        stroke-dashoffset: 176;
        /* 60 */
    }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(153 153 153 / 30%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}